body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url(./bgnd/pexels-jana-kukebal-6496462.jpg) no-repeat;
}
.nav-container {
  background-color: rgb(252, 144, 162);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px gray;
  font-size: 20px;
}
.nav-left {
  margin-left: 45%;
}
header {
  margin: -8px;
}
header h1 {
  text-align: center;
}

section h2 {
  margin-left: 10%;
  margin-top: 5%;
}

.section {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 2rem;
  margin-right: 10%;
  margin-left: 10%;
}
.cart {
  margin-left: 10%;
  margin-right: 10%;
}

.shop-item button {
  background-color: rgb(252, 144, 162);
  margin-left: 25%;
  color: white;
}

.cart-heading {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  margin-top: 2rem;
}

.cart h2 {
  margin-left: 40%;
  margin-top: 10%;
}

.cart-quantity-input {
  width: 30px;
}

.btn-danger{
  background-color: rgba(255, 115, 0, 0.281);
}

.btn-purchase{
  margin-left: 50%;
  margin-top: 10%;
  background-color: green;
  color: white;
}
